<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting type="lsep" label="Credentials"/>
        <setting id="listen_key" type="text" label="Listen Key"/>
        <setting type="lsep" label="Streams"/>
        <setting id="quality" type="select" label="Quality" values="low|moderate|medium|high"/>
        <setting type="lsep" label="Networks"/>
        <setting id="activate_di" label="DigitallyImported" type="bool" default="true"/>
        <setting id="activate_radiotunes" label="RadioTunes" type="bool" default="true"/>
        <setting id="activate_rockradio" label="RockRadio" type="bool" default="true"/>
        <setting id="activate_jazzradio" label="JazzRadio" type="bool" default="true"/>
        <setting id="activate_classicalradio" label="ClassicalRadio" type="bool" default="true"/>
    </category>
</settings>
